<h1>Current Rentals</h1>

<h3>New Rental</h3>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/rentals/new">Create new rental</a>
</p>
<br>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Car</th>
  </tr>
  <% for rental in @rentals %>
  <tr>
    <td><a href="/customers"><%= rental.customer.full_name %></a></td>
    <td>|</td>
    <td><a href="/cars"><%= rental.car.make %></a></td>
    <td>|</td>
    <td><form action="/rentals/<%= rental.id %>/delete" method="POST">
      <input class="btn btn--returns" type="submit" value="Return Vehicle" />
    </form></td>
  </tr>
  <% end %>
</table>
