<h1>Current Rentals</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Car</th>
  </tr>
  <% for rental in @rentals %>
  <tr>
    <td><a href="/customers"><%= rental.customer.full_name %></a></td>
    <td>|</td>
    <td><a href="/cars"><%= rental.car.make %></a></td>
  </tr>
  <% end %>
</table>

<h2>New Rental</h2>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/rentals/new">Create new rental</a>
</p>
