<h1>New Rental</h1>

<form action="/rentals" method="post">
  <label>
  Select a customer:
    <select name="customer_id">
      <option disabled selected value> -- choose customer -- </option>
      <% for customer in @customers %>
      <option value="<%= customer.id %>"><%= customer.full_name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a vehicle:
    <select name="car_id">
      <option disabled selected value> -- choose car -- </option>
      <% for car in @cars %>
      <option value="<%= car.id %>"><%= car.make %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="Rent vehicle">
</form>
