<h1>Cars</h1>

<table>
  <tr>
    <th>Make</th>
    <th>Features</th>
    <th>Image</th>
  </tr>
  <% for car in @cars %>
  <tr>
    <td><%= car.make %></td>
    <td><%= car.features %></td>
    <td class="car_image"><img src="<%= car.image %>"/></td>
  </tr>
  <% end %>
</table>
