<h1>Cars</h1>

<h2>Add New Car</h2>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/cars/new">Create new car</a>
</p>

<table>
  <tr>
    <th>Make</th>
    <th>Features</th>
    <th>Status</th>
    <th>Image</th>
  </tr>
  <% for car in @cars %>
  <tr>
    <td><%= car.make %></td>
    <td><%= car.features %></td>
    <td><%= car.status %></td>
    <td class="car_image"><img src="<%= car.image %>"/></td>
  </tr>
  <% end %>
</table>
