<h1>New Car</h1>

<!-- label for and input id should match -->
<form method="post" action="/cars" enctype="multipart/form-data">
  <label for ="make">Make:</label>
  <input id="make" type="text" name="make" required/>
  <p></p>

  <label for ="features">Features:</label>
  <input id="features" type="text" name="features" required/>
  <p></p>

  <label for ="status">Status:</label>
  <input id="status" type="text" name="status" readonly value="available"/>
  <p></p>

  <label for ="image">Image:</label>
  <input id="image" type="file" name="image" />
  <p></p>

  <input type="submit" value="Add New Car" />

</form>
