<h1>Customers</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/customers/new">Create new customer</a>
</p>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td><%= customer.full_name %></td>
  </tr>
  <% end %>
</table>
