<h1>Customers</h1>

<p>
  <a class="btn btn--action" id="link2" href="/customers/new">Create new customer</a>
</p>
<br>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td><%= customer.full_name %></td>
    <td>
      <form method="GET" action="/customers/<%= customer.id %>/edit">
        <input class="btn btn--action" type="submit" value="Edit" />
      </form>
    </td>
    <td>
      <form method="POST" action="/customers/<%= customer.id %>/delete">
        <input class="btn btn--delete" type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
